<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="flickrNet" type="FlickrNet.FlickrConfigurationManager,FlickrNet"/>  
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ClipGeo.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <runtime>
    <!--Alex, Runtime Array-Size increase for 64bit-->
  <gcAllowVeryLargeObjects enabled="true" />
    <!--Alex, Disable FlickrNet Cache-->
    <flickrNet cacheDisabled="true">
    </flickrNet>
    <FlickrNet cacheDisabled="true">
    </FlickrNet>
    <flickr cacheDisabled="true">
    </flickr>
    <Flickr cacheDisabled="true">
    </Flickr>
    <flickrnet cacheDisabled="true">
    </flickrnet>
</runtime>
    <!--<section name="flickrNet" type="FlickrNet.FlickrConfigurationManager,FlickrNet"/>
  <flickrNet cacheLocation="..\FlickrCache\">
  </flickrNet>-->
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>

    <userSettings>
        <ClipGeo.My.MySettings>
            <setting name="bottomleftlat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bottomleftlong" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="toprightlat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="toprightlong" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Sourcepath" serializeAs="String">
                <value>...\Output\</value>
            </setting>
            <setting name="Shapepath" serializeAs="String">
                <value />
            </setting>
        </ClipGeo.My.MySettings>
    </userSettings>
</configuration>
